<div>
    <!--<h2>Stories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="story.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Story
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>-->
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <!--thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
					<th><span>Title</span></th>
					<th><span>Content</span></th>
					<th><span>Author ID</span></th>
					<th><span>Author Name</span></th>
		           	<th><span>Time Created</span></th>
					<th><span>Place Created</span></th> 
					<th><span>Time To Read</span></th> 
					<th><span>Category</span></th> 
					<th><span>Number Of Love</span></th>
					<th><span>Number Of Comment</span></th> 
				</tr>
            </thead-->
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']" ng-repeat="story in vm.stories track by story.id">
                
					<!--Dòng này lý giải tại sao lại gọi đc story-->
                    <td style="color:blue;"><a ui-sref="story-detail({id:story.id})">{{story.id}}</a></td>
					<tr>
                    	<td >{{story.title}}</td>
						<td >{{story.timeCreated | date:'medium'}}</td>
						<td></td>
					</tr>
				<tr>
					<td >{{story.timeCreated | date:'medium'}}</td>
					<td >{{story.placeCreated}}</td>
					<td >{{story.timeToRead}}</td>
				</tr>
				<tr>
					<!--td >{{story.authorID}}</td-->
					<td>{{story.author}}</td>
					<td></td>
					<td >{{story.authorName}}</td>
				</tr>
				<tr>
                    <td >{{story.content}}</td>
				</tr>
				<tr>
					<td >{{story.numberOfLove}}<div style="color:red">&#9829; </div></td>
					<td></td>
					<td >{{story.numberOfComment}} <div style="color:green;">response</div></td>
				</tr>
                  <td >{{story.category}}</td>
					
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="story-detail({id:story.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="story.edit({id:story.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="story.delete({id:story.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                
                <!--tr ng-repeat="user in vm.storyOwner track by user.id"><!--Dòng này lý giải tại sao lại gọi đc story-->
                    <tr>
                </tr>
            </tbody>
        </table>
    </div>
</div>
