
<div>
    <h2><span>Story</span> {{vm.story.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{vm.story.title}}</span>
        </dd>
        <dt><span>Content</span></dt>
        <dd>
            <span>{{vm.story.content}}</span>
        </dd>
        <dt><span>Author Name</span></dt>
        <dd>
            <span>{{vm.story.authorName}}</span>
        </dd>
        <dt><span>Time Created</span></dt>
        <dd>
            <span>{{vm.story.timeCreated | date:'medium'}}</span>
        </dd>
        <dt><span>Place Created</span></dt>
        <dd>
            <span>{{vm.story.placeCreated}}</span>
        </dd>
        <dt><span>Time To Read</span></dt>
        <dd>
            <span>{{vm.story.timeToRead}}</span>
        </dd>
        <dt><span>Category</span></dt>
        <dd>
            <span>{{vm.story.category?vm.story.category:"not category yet"}}</span>
        </dd>
        <dt><span>Number Of Love</span></dt>
        <dd>
            <span>{{vm.story.numberOfLove?vm.story.numberOfLove:0}}</span>
        </dd>
        <dt><span>Number Of Comment</span></dt>
        <dd>
            <span>{{vm.story.numberOfComment?vm.story.numberOfComment:0}}</span>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
            <span>{{vm.story.author}}</span>
        </dd>

    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="story-detail.edit({id:vm.story.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
<!--Danh sách comment sẽ hiện ở đây-->
<!--done-->
<div class="comment">
	<h3>Comment</h3>
	<table class="jh-table table table-striped">
	<tr ng-repeat="comment in vm.comments"><!--infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']"-->
		<!--Nghi vấn-->
		<td>
			<img ng-src='{{comment.userImgLink}}' style="width:100px;height:100px">
			<div><span>	{{comment.userCommentName}} :</span></div>
			<span>{{comment.commentContent}}</span>
		</td>

		<div style="color:grey"><td>{{comment.timeCommented}} just a moment</td></div>

	</tr>
	</table>
</div>
<!--Khung comment-->
<!---->
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.comment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.comment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_content" placeholder="Leave a comment"></label>
                <textarea class="form-control" name="content" id="field_content"
                    ng-model="vm.comment.commentContent"  ></textarea>
        </div>


    </div>
    <div class="modal-footer">
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"><!--Sửa chỗ này thành hình máy bay--></span>&nbsp;<span>Send</span>
        </button>
    </div>
</form>
