<div class="app-header navbar">
    <!-- navbar header -->
    <div class="navbar-header bg-header">
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt">
            <img src="img/logo.png" alt="." class="hide">
            <span class="hidden-folded m-l-xs">Giasan.vn</span>
        </a>
        <!-- / brand -->
    </div>
    <!-- / navbar header -->
    <!-- navbar collapse -->
    <div ng-switch="vm.isAuthenticated()" class="collapse pos-rlt navbar-collapse box-shadow bg-header">
        <!-- link and dropdown -->
        <ul class="nav navbar-nav hidden-sm">
            <!--Dropdown city -->
            <li class="hidden-sm">
                <a href>Trang chủ</a>
            </li>
            <li class="hidden-sm">
                <a href>Ngoại thất</a>
            </li>
            <li class="hidden-sm">
                <a href>Nội thất</a>
            </li>
            <li class="hidden-sm">
                <a href>Tư vấn BĐS</a>
            </li>
            <li class="hidden-sm">
                <a href>Phong thủy</a>
            </li>
        </ul>
        <!-- / navbar right -->
        <ul class="nav navbar-nav navbar-right" ng-switch-when="false">
            <li>
                <a ui-sref="register"><span>Đăng ký</span> <span class="glyphicon glyphicon-plus-sign m-l-xs"></span></a>
            </li>
            <li>
                <a ng-click="vm.login()"><span>Đăng nhập</span> <span class="glyphicon glyphicon-log-in m-l-xs"></span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-switch-when="true">
            <li>
                <a href>Đăng tin</a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href class="dropdown-toggle clear" uib-dropdown-toggle>
                    <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="content/images/a0.jpg" alt="...">
                <i class="on md b-white bottom"></i>
              </span>
                    <span class="hidden-sm hidden-md">John.Smith</span> <b class="caret"></b>
                </a>
                <!-- dropdown -->
                <ul class="dropdown-menu animated fadeInRight" uib-dropdown-menu>
                    <li ui-sref-active="active">
                        <a ui-sref="settings">Tài khoản</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="password">Đổi mật khẩu</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ng-click="vm.logout()"">Đăng xuất</a>
                    </li>
                </ul>
                <!-- / dropdown -->
            </li>
        </ul>
        </li>
        </ul>
        <!-- / navbar right -->
    </div>
    <!-- / navbar collapse -->
</div>
